<%= form_with url: new_job_path, method: :get, local: true do |f| %>
  <table class="table table-striped">
    <colgroup>
      <col width="10%">
      <col width="35%">
      <col width="35%">
      <col width="20%">
    </colgroup>
    <tr>
      <th><input type="checkbox" data-behaviour="toggle-all" data-target="repositories[]"></th>
      <th>Name</th>
      <th>Last Job</th>
      <th>Actions</th>
    </tr>
    <% if @repositories.any? %>
      <% @repositories.each do |repo| %>
        <tr>
          <td><%= check_box_tag :'repositories[]', repo.id %></td>
          <td><%= repo.name %></td>
          <td>
            <% if repo.job %>
              <%= link_to repo.job, class: 'text-light' do %>
                <%= state_badge repo.job.state %>
              <% end %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', repo %>
            |
            <%= link_to 'Edit', edit_repository_path(repo) %>
            |
            <%= link_to 'Delete', repo, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" class="text-center">
          No records found.
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to 'Add Repository', new_repository_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Create Jobs', class: 'btn btn-secondary' %>
<% end %>
