<%= simple_form_for(@job) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.input :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :config, class: 'form-control', input_html: { rows: 15 } %>
  </div>

  <div class="form-group">
    <%= hidden_field_tag :repositories, repositories.join(',') %>
    <%= f.submit 'Create Job', class: 'btn btn-primary' %>
  </div>
<% end %>
