<table class="table table-striped">
  <colgroup>
    <col width="20%">
    <col width="80%">
  </colgroup>
  <tr>
    <th>Repository</th>
    <td><%= @job.repository.name %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @job.name %></td>
  </tr>
  <tr>
    <th>Version From</th>
    <td><%= @job.version_from %></td>
  </tr>
  <tr>
    <th>Version To</th>
    <td><%= @job.version_to %></td>
  </tr>
  <tr>
    <th>Identity</th>
    <td><pre><%= @job.identity %></pre></td>
  </tr>
  <tr>
    <th>Config</th>
    <td><%= debug @job.config %></td>
  </tr>
  <tr>
    <th>State</th>
    <td>
      <%= job_state_badge @job.state %>

      <% if @job.state == 'failed' %>
        <%= link_to retry_job_path(@job), method: :put, class: 'btn btn-sm btn-secondary' do %>
          <%= image_tag 'synchronize.png' %>
          Retry
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Logs</th>
    <td>
      <% if @job.logs.any? %>
        <div class="accordion" id="logs">
          <% @job.logs.reverse_each.with_index do |log, index| %>
            <% index_shown = @job.logs.length - index %>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link <% if index != 0 %>collapsed<% end %>" type="button" data-toggle="collapse" data-target="#log-<%= index_shown %>">
                    Execution #<%= index_shown %>
                  </button>
                </h5>
              </div>
              <div id="log-<%= index_shown %>" class="collapse <% if index == 0 %>show<% end %>" data-parent="#logs">
                <div class="card-body">
                  <code><%= simple_format log %></code>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        Not yet executed
      <% end %>
    </td>
  </tr>
</table>
