<table class="table table-striped">
  <colgroup>
    <col width="20%">
    <col width="80%">
  </colgroup>
  <tr>
    <th>ID</th>
    <td><%= @identity.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @identity.name %></td>
  </tr>
  <tr>
    <th>E-Mail</th>
    <td><%= @identity.email %></td>
  </tr>
  <tr>
    <th>GitHub API Key</th>
    <td><pre><%= @identity.github_api_key.first(5) %> [...] <%= @identity.github_api_key.last(5) %></pre></td>
  </tr>
</table>
