<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Up!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container mt-3">
      <h1>Ruby Up!</h1>
      <p>
        <%= link_to 'Repositories', repositories_path, class: params[:controller] == 'repositories' && 'font-weight-bold' %>
        |
        <%= link_to 'Jobs', jobs_path, class: params[:controller] == 'jobs' && 'font-weight-bold' %>
        |
        <%= link_to 'Identities', identities_path, class: params[:controller] == 'identities' && 'font-weight-bold' %>
        |
        <%= link_to 'Sidekiq', sidekiq_web_path, data: { turbolinks: false } %>
      </p>

      <%= yield %>
    </div>
  </body>
</html>
